<table>
    <thead>
        <th>Cuota</th>
        <th>Monto</th>
        <th>Resto</th>
    </thead>
    <tbody>
        {{#cuotas}}
        <tr>
            <td>{{numero}}</td>
            <td>{{monto}}</td>
            <td>{{resto}}</td>
        </tr>
        {{/cuotas}}
    </tbody>
</table>